body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.absolute{
	position: absolute;
}

.border-radius{
	border-radius: 50%;
}

.box-announcement{
	height: 350px;
}


.flex{
	display: flex;
}

.flex-center{
	align-items: center;
	justify-content: center;
}

.flex-direction{
	flex-direction: column;
}

.full-height{
	height: 100%;
}

.middle{
	align-items: center;
}
.mt-2{
	margin-top: 2em;
}
.no-margin{
	margin: 0;
}

.no-padding{
	padding: 0;
}

.text-s15{
	font-size: 1.5em;
}

.text-s20{
	font-size: 2.0em;
}
.text-shadow-h1{
	text-shadow: 1px 1px 2px #000;
}

.text-weight--300{
	font-weight: 300;
}

.text-center{
	text-align: center;
}

.text-large{
	font-size: 3.5em;
}

.tex-lmedium{
	font-size: 2.5em;
}

.text-medium{
	font-size: 1.2em;
}

.text-montset{
	font-family: 'Montserrat', sans-serif;
}

.text-qs{
	font-family: 'Quicksand', sans-serif;
}


.text-pacific{
	font-family: 'Pacifico', cursive;
}

.top-space{
	margin-top: 3em;
}

.padding-right--2p{
	padding-right: 2em;

}

.relative{
	position: relative;
}

.width{
	width: 100%;
}
