.hero-image {
  background: url("../images/ice1.jpg");
  background-attachment: fixed;
  height: 115vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-image h1 {
  font-weight: 300;
  text-shadow: 1px 1px 2px #000;
}

.hero-image span {
  font-size: 22px;
}

.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: ". image image image . texto texto texto texto";
}

.container .img-box {
  grid-area: image;
}

.container .text-box {
  grid-area: texto;
}

.navbar {
  width: 100%;
  font-weight: 900;
  text-shadow: 1px 1px 3px #736464;
  margin-left: -35px;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  font-size: 1.8em;
  display: inline-block;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 500ms;
}

.navbar ul li:hover {
  background-color: #EE9480;
}
