- navmenu = ["Inicio", "Menú", "Ubicación", "Contacto"]

!!! 5
%html{class: "no-js", lang: "es"}
	%head
		%meta{ charset: "utf-8"}
		%meta{ name: "description", content: "Helados!! :D"}
		%meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
		%link{rel:"stylesheet", href:"css/common.css"}
		%link{rel:"stylesheet", href:"css/style.css"}
		%link{rel:"stylesheet", href:"css/colors.css"}
		%link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Pacifico&display=swap" }
		%link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Montserrat&display=swap" }
		%link{rel:"stylesheet", href:"https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity:"sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay",crossorigin:"anonymous"}
		%title Sitio de Helados
	%body
		%header.hero-image.text-center.text-white
			.text-large
				%h1.no-margin.text-pacific Sitio de Helados
				%span.text-montset
					%i.far.fa-clock
					Abierto
			.navbar.text-white.text-montset
				%ul
					- navmenu.each do |item|
						%li
							%a{}= item						
		.full-height.container.top-space
			.img-box
				%figure
					%img{src: "./images/ice2.jpg", height: '300px'}
				%figurecaption
					%p Helados
			.text-box
				%h2
				%p Un delicia visual, nuestros productos son elaborados con los mejores ingredientes naturales, además cuidamos la presentación para hacer una exquisites ante tus ojos.